<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://serverlessblog.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f2e1ab20-4404-401d-84dd-89bbe922f812/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/ServerlessBlog</ResourceId>
    <UserName>$ServerlessBlog</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://serverlessblog.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>